# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

=======
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/JspServletExemplos/ServletControle da Sessão/SistemaLogin02/nbproject/private/